# copyrighted files
/mods
/resourcepacks
/saves

# secure files
/local
/config/jei/worldSettings.cfg
/config/splash.properties
/XaeroWayPoints*
/XaeroWorldMap
/options.txt
/patchouli_data.json
/usercache.json
/usernamecache.json

# log files
/logs
/crafttweaker.log
/dropt.log